* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #fff;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 5%;
}

.panel {
    width: 50%;
    height: 30em;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.panel::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.buttons {
    margin-left: 25%;
}

.empty {
  width: 50px;
  height: 50px;
}

#add{
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    width: 50%;
    height: 60px;
    margin-left: 0%;
    margin-top: 3%;
    margin-bottom: 0%;
    font-size: 1em;
}

#delete{
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    width: 50%;
    height: 60px;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 1em;
}

button {
    width: 15em;
    height: 5em;
    margin-top: 8%;
    border-radius: 50px;
    border: 1px solid #cccccc;
    background-color: #fff;
    font-size: 2em;
    transition: 1s;
}

button:hover {
    background-color: #000;
    border-radius: 0px;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}
