* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 5%;
}

.panel {
    width: 50%;
    height: 38em;
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.informations {
    width: 100%;
}

p {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.7em;
}

.buttons {
    margin-left: 5%;
}

button {
    width: 15em;
    height: 3em;
    margin-top: 3%;
    margin-left: 21%;
    border-radius: 50px;
    border: 1px solid #cccccc;
    transition: 1s;
    background-color: #fff;
    font-size: 2em;
}

button:hover {
    background-color: #000;
    border-radius: 0px;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}
